* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    overflow-x:hidden; /*Todo conteudo q ultrapasse a horizontal é bloqueado*/
}

header {
    height: 100px;
    background-color: black ;
}

.header {
    color: white;
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756 ;
    border-radius: 40px;
}

.logo {
    width: 100px;
}

.menu-openner {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    font-weight: bold;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;
}

.menu li a:hover, 
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: rgb(185, 185, 185);
}

.banner {
    height: calc(100vh - 100px); /*100vh preenche a tela com o banner e desconta a altura do header*/
    background-color: rgb(71, 71, 71);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position:center;
    overflow: hidden; /*Tudo que passar o conteudo do do banner ficará escondido (esconde a barra de rolar para direita)*/
}

.banner .sliders {
    width: 1000vw;
    height: 100%;

}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner .slidearea {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner a {
    text-decoration: none;
    color: white;
    display: block;
    background-color: #B28756;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 15px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title, 
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 7px;
    margin-bottom: 20px;
}

.default .section-title {
    font-size: 20px;
    font-weight: 600;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
}

.default light {
    background-color: rgb(247, 247, 247);
}

.default.light .section-title,
.default.light .section-body {
    color: black;
}


.default.dark {
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body {
    color: white;
}

.buttom {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #B28756;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
}

footer {
    background-color: black;
    padding: 20px;
}

.footer-area {
    max-width:1140px;
    margin:auto;
    color: #FFF;
    display: flex;
}

.footer-item {
    flex: 1;
}

.redes-sociais {
    display: flex;
}

.redes-sociais a {
    display:block;
    width: 30px;
    height: 30px;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    margin-right: 10px;
}

.redes-sociais a:hover {
    background-color:#B28756;
}


.redes-sociais img {
    height:10px;
}

.footer-item.area-2 {
    color:#999;
    line-height:20px;
    font-size:13px;
    padding:0 10px 10px 10px;
}

.footer-item.area-3 form {
    background-color:#333;
    text-align:center;
    padding:40px;
}

.footer-item.area-3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
}








.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;

}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
    
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects-filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects-filters ul, 
.section-projects-filters li {
    list-style: none;
}

.section-projects-filters li {
    display: inline-block; /*Faz um item ficar ao lado do outro*/
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
}

.section-projects-filters li:hover,
.section-projects-filters li.active {
    border-bottom: 3px solid #B28756;
    cursor: pointer;
}


.section-projects-filters li:first-child {
    border-left: 0;
}

.section-projects-fotos {
    width: 100%;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects-img {
    width: 280px;
}

.section-projects-fotoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects-fotoarea img {
    width: inherit;
    height: inherit;
}

.fotoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    color: #FFF;
}

.fotoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 60px;
}

.section-projects-fotoarea:hover .fotoinfo {
    display: flex;
}

.bg-team {
    background-image:url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
    min-height: 300px;
}

.section-team .slidearea {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #000;
    justify-content: center;
    padding: 20px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #B28756;
}


.section-team-avatar {
    width: 150px;
    height: auto;
}

.section-team-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team-role {
    font-size: 14px;
    color: #999;
    margin-top:5px ;
}

.section-team-social {
    display: flex;
    margin-top: 20px;
}

.section-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team-social a:hover {
    background-color: #B28756;
}

.section-happy {
    overflow: hidden;
    max-width: 1140px;
    margin: auto;
}

.section-happy-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-happy-img .imgHomem {
    width: 120px;
    height: auto;
    margin-top: 20px;
}

.section-happy-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-happy-role {
    font-size: 14px;
    color: #999;
    margin-top:5px ;
    font-weight: bolder;
}

.section-happy-name, 
.section-happy-role {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aspas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.aspas img {
    width: 20px;
}

.texto {
    width: 650px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 11px;
    color: #999;
}

.section-happy .sliders-pointers {
    height: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-happy .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-happy .pointer.active {
    background-color: #B28756;
}

.default.light.abas {
    background-color:white;
    height: 140px;
    border-top: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
}   

.marcas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca {
    padding: 0px 10px 0px;
    margin-right: 60px;
}

.marca:last-child {
    margin-right: -50px;
}

.section-price {
    display:flex;
}

.price {
    width: 200px;
    flex: 1;
    background-color: rgba(236, 236, 236, 0.377);
    margin-right: 20px;
    padding:20px;
    text-align:center;
}

price:last-child {
    margin-right:0;
}  

.price:last-child {
    margin-right:0;
}

.price-name{
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}

.price-value {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}

.price-month {
    color:#999;
    text-transform: uppercase;
    margin-bottom:20px;
}

.desc1 {
    font-size:12px;
}

.price .buttom-dark {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color:#000;;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    font-weight: 600;
    margin: auto;
    border-radius: 15px;

    margin-bottom: 10px;

}

.buttom-dark:hover {
    background-color:#B28756;
}

.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}

.premium .section-body {
    max-width:initial;
}

.section-premium {
    overflow:hidden;
}

.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}

.section-premium-left {
    flex:1;
    text-align:right;
}

.section-premium-left img {
    width:300px;
    margin-right:100px;
}

.section-premium-right {
    flex: 1;
}

.section-premium--item {
    display:flex;
    margin-bottom:20px;
}

.section-premium--item img {
    width:27px;
    height:25px;
    margin-right:20px;
}

.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}

.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
    text-transform: uppercase;
    font-weight: bold;
}

.section-premium--item p {
    font-size: 10px;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}

.section-facts {
    height: 200px;
    display: flex;
}

.section-fact {
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding:15px;
}

.section-fact-line {
    width:17px;
    border-bottom: 3px solid #999;
    margin:auto;
}

.section-fact h3 {
    color: #B28756;
    font-size: 43px;
    margin-top: 45px;
}

.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}

.section-fact p {
    text-align: center;
    margin-top:35px;
    font-size:13px;
    color:#999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
    border: 1px solid rgb(206, 206, 206);
}

.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:60px;
}

.section-share h4 {
    color: rgb(192, 192, 192);
    font-weight: 600;
}

.section-share--legend img {
    margin-right:10px;
}


.section-share--item {
    font-size:12px;
    margin-right:35px;
    display:flex;
    align-items:center;
    cursor:pointer;
}

.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section-share--icon img {
    height:12px;
}

.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}

.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}

.section-contact textarea {
    height:40px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}

.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #B28756;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
}

.section-map {
    background-image:url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-map-area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map-info {
    width: 50%;
    padding: 30px;
    background-color: white;
    color: black;
}

.section-map--info-item {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}

.section-map--info-item-img {
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}

.section-map--info-item-img img {
    width: 15px;
    height: auto;
}

.footer-area {
    flex-direction: row;
}

.footer-item {
    margin-bottom: 20px;
}

.redes-sociais {
    justify-content: center;
}


@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left: 30px;
    }

    .menu-openner {
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }

    .menu li.active a {
        border: 0;
        color: #B28756;
    }

    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section-aboutus--right {
        width: auto;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-team {
        max-width: 580px;
    }

    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map-area {
        width: auto;
    }

    .section-map-info {
        width: auto;
    }

    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0;
    }

    .marca {
        min-width: 50%;
    }

    .marcas {
        margin-left: 140px;
    }

    .section-price {
        flex-direction: column;
        align-items: center;
    }

    .price {
        margin-left: 20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    
    .section-premium-left img {
        margin-right: 0;
        width: auto;
        margin-bottom: 40px;
    }   

    .section-premium-right .section-premium--item h4 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .section-premium--item img {
        position: absolute;
        align-items: center;
        justify-content: center;
        margin-left: -10px;
        width: 30px;
        height: 27px;
    }

    .section-premium--item:first-child img {
        margin-left: -10px;
    }

    .section-premium-right .section-premium--item p {
        font-size: 15px;
        width: 341px;
        margin-bottom: 20px;
    }

    .section-facts {
        flex-direction: column;
    }

    .default.dark {
        height: 1010px;
    }

    .section-contact {
        flex-direction: column;
    }

    .footer-area {
        flex-direction: column;
    }

    .redes-sociais a {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }   

    .footer-item.area-2 {
        font-size: 15px;
    }

    .section-team-area {
        padding-bottom: 30px;
    }

    .default.dark.team {
        height: 600px;
    }

    .default.dark.bg-team {
        height: 500px;
    }

    .default.dark.services {
        height: 600px;
    }
}





@media (max-width:450px) {
    .logo {
        margin-left: 30px;
    }

    .menu-openner {
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }

    .menu li.active a {
        border: 0;
        color: #B28756;
    }

    .banner h1 {
        font-size: 30px;
    }

    .banner h2 {
        font-size: 17px;
    }

    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section-aboutus--right {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-aboutus--right img {
        width: 100%;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-projects-filters {
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-projects-img {
        width: auto;
    }

    .section-projects-fotos {
        width: 320px;
    }

    .section-projects-fotoarea {
        width: 300px;
        height: 190px;
    }

    .section-team {
        max-width: 280px;
    }

    .texto p {
        font-size: 12px;
        text-align: center;
        align-items: center;
    }

    .texto {
        margin: auto;
        width: 290px;
        height: 120px;
    }
 
    .section-map {
        padding: 0;
        padding-bottom: 250px;
    }

    .section-map-area {
        width: auto;
    }

    .section-map-info {
        width: auto;
    }

    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0;
    }

    .marca {
        min-width: 50%;
    }

    .marcas {
        margin: auto;
        margin-left: 15px;
    }

    .section-price {
        flex-direction: column;
        align-items: center;
    }

    .price {
        margin-left: 20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    
    .section-premium-left img {
        margin-left: 135px;
        width: 300px;
        margin-bottom: 40px;
    }   

    .section-premium-right .section-premium--item h4 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .section-premium--item img {
        position: absolute;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        width: 30px;
        height: 27px;
    }

    .section-premium--item:first-child img {
        margin-left: 40px;
    }

    .section-premium-right .section-premium--item p {
        margin-left: 50px;
        font-size: 15px;
        width: 341px;
        margin-bottom: 20px;
    }

    .section-facts {
        flex-direction: column;
    }

    .section-fact {
        padding: 0;
    }

    .section-fact h4 {
        margin-top: 5px;
    }

    .section-fact p {
        margin-top: 5px;
    }

    .default.dark {
        height: 800px;
    }

    .section-contact {
        flex-direction: column;
    }

    .section-contact form {
        padding: 30px;
    }

    .section-contact--split {
        flex-direction: column;
        
    }

    .footer-area {
        flex-direction: column;
    }

    .redes-sociais a {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }   

    .footer-item.area-2 {
        font-size: 15px;
    }

    .section-team-area {
        padding-bottom: 30px;
    }

    .default.dark.team {
        height: 600px;
    }

    .default.dark.bg-team {
        height: 500px;
    }

}